figure {
  margin: 0; }

@media screen and (max-width: 576px) {
  .about-title {
    font-size: 1rem !important; } }

.card {
  padding: 2rem;
  border: none;
  font-size: .9rem;
  font-family: 'Poppins',sans-serif; }
  .card-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .card-icon {
    font-size: 7rem;
    background: linear-gradient(#FE9D24, #0D66D0);
    color: transparent;
    background-clip: text; }
  .card-body {
    font-size: .8rem;
    color: #8b8b8b;
    text-align: center; }
  .card-link--btn {
    padding: .8rem 1.2rem;
    border: 2px solid #FE9D24;
    border-radius: 8px;
    color: black;
    transition: .3s all; }
    .card-link--btn:hover {
      background: #FE9D24;
      color: white; }
